* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  background-image: url("../media/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mene de navegación */
.navbar {
  width: 100%;
  background: #1a1a1a;
  color: #ecf0f1;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.menu-items {
  display: flex;
  list-style: none;
}

.menu-items li {
  margin-left: 1.5rem;
}

.menu-items a {
  text-decoration: none !important;
  color: #ecf0f1;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  transition: color 0.3s ease;
}

.menu-items a:hover,
.menu-items a:focus {
  color: #3498db;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", system-ui;
  color: #ffffff;
  padding: 0 20px;
  text-decoration: none;
}

.logo a {
  text-decoration: none !important;
  color: inherit;
}

.logo a:hover,
.logo a:focus {
  text-decoration: none;
}

.hamburger-menu {
  display: none;
}

.menu-toggle {
  display: none;
}

/* Seccion Nosotros */

.nosotros-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nosotros-container h1,
p {
  text-align: center;
}

.nosotros-container h1 {
  font-size: 50px;
}

.nosotros-container p {
  width: 40%;
  font-size: larger;
  margin: 30px 0px 50px 0px;
}

.nosotros-container span {
  color: #2d64e3;
  font-weight: bold;
  font-size: larger;
}

.nosotros-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.nosotros-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin: 2px;
  width: 250px;
  height: 300px;

  background: linear-gradient(135deg, #d9d9d9, #e6e6e6, #f2f2f2, #ffffff);
  border-radius: 20px;
  padding: 13px;
  gap: 10px;
  position: relative;
}

.nosotros-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  z-index: 1;
  opacity: 0.9;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.nosotros-card:hover::before {
  filter: grayscale(0%);
}

/* FALTA CAMBIAR LAS IMAGENES PARA CADA INTEGRANTE */
.card-1::before {
  background-image: url("../media/img/kath.png");
}

.card-2::before {
  background-image: url("../media/img/beto2.png");
}

.card-3::before {
  background-image: url("../media/img/walter4.png");
}

.card-4::before {
  background-image: url("../media/img/nahuel.png");
}

.card-5::before {
  background-image: url("../media/img/eze.webp");
}

.nosotros-card button {
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  z-index: 2;
  position: relative;
  background-color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  color: #295bce;
}

.nosotros-card button:hover {
  background-color: #295bce;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: #ecf0f1;
  padding: 20px;
}

.footer-grid {
  display: flex;
  justify-content: space-around;
}

.footer-box h3 {
  margin-bottom: 8px;
}

.footer-box li {
  list-style: none;
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-box a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 3px;
  gap: 8px;
}

.footer-box a:hover {
  color: #2d64e3;
}

.footer-box img {
  width: 20px;
  height: 20px;
}

.social-media-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-box button {
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  z-index: 2;
  position: relative;
  background-color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  color: #295bce;
  margin-top: 10px;
}

.footer-box button:hover {
  background-color: #295bce;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenido principal */
main {
  padding: 2rem;
  text-align: center;
}

.main-section {
  margin-bottom: 2rem;
}

.index-main-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* contenido de página index */
.index-button {
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  z-index: 2;
  position: relative;
  background-color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  color: #295bce;
}

.index-button:hover {
  background-color: #295bce;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.index-main-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  position: relative;
  width: 80%;
}

.index-main-content .div {
  align-items: center;
  gap: 24px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.index-main-content .div-2 {
  align-items: center;
  gap: 16px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.index-main-content .div-wrapper {
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.index-main-content .text-wrapper {
  position: relative;
  width: 100%;
  margin-top: -1px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #00070f;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 76px;
  white-space: nowrap;
}

.index-main-content-title {
  position: relative;
  align-self: stretch;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 32px;
}

.index-main-content .span {
  color: #00070f;
  letter-spacing: 0.1px;
}

.index-main-content .text-wrapper-2 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #295bce;
  letter-spacing: 0.1px;
}

.index-main-content-buttons {
  display: flex;
  height: 48px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.index-main-content-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fafdf2;
  border-radius: 50px;
  overflow: hidden;
}

.index-main-content-button:hover {
  color: #ffffff;
  background-color: #3498db;
}

.index-main-content .div-wrapper-2 {
  align-items: center;
  gap: 20px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.index-main-content .text-wrapper-3 {
  position: relative;
  width: 645px;
  margin-top: -1px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #00070f;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.15px;
  line-height: 22px;
}

.index-logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.index-logos img {
  height: auto;
  width: auto;
}
/* MEDIA QUERIS */

@media (max-width: 480px) {
  .nosotros-card::before {
    filter: grayscale(0%);
  }
}

@media (max-width: 1400px) {
  .nosotros-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .index-main-content .text-wrapper {
    font-size: 50px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .index-main-content .text-wrapper {
    white-space: unset;
  }
}

@media (max-width: 825px) {
  .nosotros-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .index-main-content .text-wrapper {
    white-space: unset;
    font-size: 50px;
  }
}

@media (max-width: 950px){
  .footer-grid{
    font-size: smaller;
  }
}

@media (max-width: 872px){
    .footer-grid {
    display: flex;
    flex-direction: column;
    font-size: medium;
  }

  .footer-box {
    margin-bottom: 20px;
  }

  .footer-box h3,
  p {
    text-align: start;
  }

  .footer-box button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    position: static;
  }
  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1a1a1a;
    padding: 1rem;
  }

  .menu-items li {
    margin: 1rem 0;
    text-align: center;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ecf0f1;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .menu-toggle:checked ~ .menu-items {
    display: flex;
  }

  .menu-toggle:checked ~ .hamburger-menu span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle:checked ~ .hamburger-menu span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked ~ .hamburger-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .nosotros-container p {
    font-size: small;
    width: 100%;
    text-align: center;
  }

  .nosotros-container h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    width: 100%;
  }

  .index-main-content .text-wrapper {
    font-size: 50px;
  }
}

@media (max-width: 432px) {
  .navbar {
    padding: 0.5rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .menu-items {
    padding: 0.5rem;
  }

  .menu-items li {
    margin: 0.5rem 0;
  }

  .menu-items a {
    font-size: 0.9rem;
  }
  .index-main-content {
    max-width: 10vh;
  }

  .index-main-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .index-main-content .text-wrapper {
    font-size: 32px;
    line-height: 1.2;
    white-space: normal;
  }

  .index-main-content-title {
    font-size: 18px;
    line-height: 1.5;
  }

  .index-main-content-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .index-button {
    width: 342px;
    height: 42px;
    padding: 10px;
  }

  .index-main-content .text-wrapper-3 {
    font-size: 16px;
    width: 100%;
  }

  .index-main-content .div-wrapper-2 {
    display: block;
  }

  .index-herramientas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .index-logos {
    width: 302px;
    height: 50px;
    justify-content: space-evenly;
  }

  .index-logos img {
    width: 40px;
    height: 40px;
  }
  footer p {
    font-size: 0.8rem;
  }
}
